*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
}

html,body{
  height: 100%;
  background-color:black;
  
}


#conteudo{
  width: 100%;
  max-width: 800px;
  margin:40px auto 0 auto;
  background-color:white;
  padding: 40px 2%;
  border-radius: 15px;
}

#conteudo h1{ text-align: center; font-weight: normal;}

#conteudo p{
  padding:20px;
  text-align: center;
  margin: 8px 0;
}

